<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jonathan Whitmore">
    <link rel="icon" href="../../favicon.ico">

    <title>HammerPricer</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/jw-galleriffic.css" type="text/css" />

    <!-- Custom styles for this template -->
    <link href="../static/css/jquery.autocomplete.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.galleriffic.js"></script>
    <script type="text/javascript" src="../static/js/jquery.opacityrollover.js"></script>
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">How it works</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<br><br>

    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-image: url(../static/images/20140911-insight.png); height=100%; background-position: -2000px 20px;" align="middle;" >

        <h1>HammerPricer</h1>
        <h2>Predicting auction prices for Abstract Expressionist art</h2>

      </div>

      <!-- title,artist,auction_date,creation_date,auction_house,country,auction_house_low,auction_house_prediction,auction_house_high,hammer_price_low,hammer_price_prediction,hammer_price_high,sale_price,artkey,image -->

    <!-- Start Advanced Gallery Html Containers -->
      <div class="navigation-container">
        <div id="thumbs" class="navigation">
          <ul class="thumbs noscript">
          {% for auction in auctions %}
              <li>
                  <a class="thumb" name="optionalCustomIdentifier" href={{ auction['image'] }} title="{{ auction['title'] }}">
                      <img src={{ auction['thumb'] }} alt="{{ auction['title'] }}" />
                  </a>
                  <div class="caption">
                      <h2>{{ auction['title'] }} ({{ auction['creation_date'] }})</h2>
                      <h3>By: {{ auction['artist'] }}</h3>
                      <br>
                              <h3>Actual Sale Price: {{ auction['sale_price'] }}</h3>
        <br>
        <table class="table table-hover" width="25%">
          <tr><th style="text-align:center">Low </th><th style="text-align:center">HammerPricer Prediction</th><th style="text-align:center">High </th></tr>
          <tr><td style="text-align:center">{{ auction['hammer_price_low'] }}</td><td style="text-align:center">{{ auction['hammer_price_prediction'] }}</td><td style="text-align:center">{{ auction['hammer_price_high'] }}</td></tr>
        </table>
        <br>
        <table class="table table-hover" width="25%">
          <tr><th style="text-align:center">Low </th><th style="text-align:center">{{ auction['auction_house'] }} Prediction</th><th style="text-align:center">High </th></tr>
          <tr><td style="text-align:center">{{ auction['auction_house_low'] }}</td><td style="text-align:center">{{ auction['auction_house_prediction'] }}</td><td style="text-align:center">{{ auction['auction_house_high'] }}</td></tr>
        </table>
        <br>
        <h4>Auction details</h4>
        <table class="table table-hover" width="25%">
          <tr><td>Auction Date:</td><td>{{ auction['auction_date'] }}</td></tr>
          <tr><td>Auction House:</td><td>{{ auction['auction_house'] }}</td></tr>
          <tr><td>Auction Country:</td><td>{{ auction['country'] }}</td></tr>
        </table>
        <br>

                  </div>
              </li>
          {% endfor %}
          </ul>
        </div>
          <div class="content">
          <div class="slideshow-container">
            <div id="controls" class="controls"></div>
            <div id="loading" class="loader"></div>
            <div id="slideshow" class="slideshow"></div>
          </div>
          <div id="caption" class="caption-container">
            <div class="photo-index"></div>
          </div>
        </div>

        <div style="clear: both;"></div>

    <br>
    <br>
    
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        // We only want these styles applied when javascript is enabled
        $('div.content').css('display', 'block');

        // Initially set opacity on thumbs and add
        // additional styling for hover effect on thumbs
        var onMouseOutOpacity = 0.67;
        $('#thumbs ul.thumbs li, div.navigation a.pageLink').opacityrollover({
          mouseOutOpacity:   onMouseOutOpacity,
          mouseOverOpacity:  1.0,
          fadeSpeed:         'fast',
          exemptionSelector: '.selected'
        });
        
        // Initialize Advanced Galleriffic Gallery
        var gallery = $('#thumbs').galleriffic({
          delay:                     2500,
          numThumbs:                 10,
          preloadAhead:              10,
          enableTopPager:            false,
          enableBottomPager:         false,
          imageContainerSel:         '#slideshow',
          controlsContainerSel:      '#controls',
          captionContainerSel:       '#caption',
          loadingContainerSel:       '#loading',
          renderSSControls:          true,
          renderNavControls:         true,
          playLinkText:              'Play Slideshow',
          pauseLinkText:             'Pause Slideshow',
          prevLinkText:              '&lsaquo; Previous Photo',
          nextLinkText:              'Next Photo &rsaquo;',
          nextPageLinkText:          'Next &rsaquo;',
          prevPageLinkText:          '&lsaquo; Prev',
          enableHistory:             true,
          autoStart:                 false,
          syncTransitions:           true,
          defaultTransitionDuration: 900,
          onSlideChange:             function(prevIndex, nextIndex) {
            // 'this' refers to the gallery, which is an extension of $('#thumbs')
            this.find('ul.thumbs').children()
              .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
              .eq(nextIndex).fadeTo('fast', 1.0);

            // Update the photo index display
            this.$captionContainer.find('div.photo-index')
              .html('Photo '+ (nextIndex+1) +' of '+ this.data.length);
          },
          onPageTransitionOut:       function(callback) {
            this.fadeTo('fast', 0.0, callback);
          },
          onPageTransitionIn:        function() {
            var prevPageLink = this.find('a.prev').css('visibility', 'hidden');
            var nextPageLink = this.find('a.next').css('visibility', 'hidden');
            
            // Show appropriate next / prev page links
            if (this.displayedPage > 0)
              prevPageLink.css('visibility', 'visible');

            var lastPage = this.getNumPages() - 1;
            if (this.displayedPage < lastPage)
              nextPageLink.css('visibility', 'visible');

            this.fadeTo('fast', 1.0);
          }
        });

        /**************** Event handlers for custom next / prev page links **********************/

        gallery.find('a.prev').click(function(e) {
          gallery.previousPage();
          e.preventDefault();
        });

        gallery.find('a.next').click(function(e) {
          gallery.nextPage();
          e.preventDefault();
        });

        /****************************************************************************************/

        /**** Functions to support integration of galleriffic with the jquery.history plugin ****/

        // PageLoad function
        // This function is called when:
        // 1. after calling $.historyInit();
        // 2. after calling $.historyLoad();
        // 3. after pushing "Go Back" button of a browser
        function pageload(hash) {
          // alert("pageload: " + hash);
          // hash doesn't contain the first # character.
          if(hash) {
            $.galleriffic.gotoImage(hash);
          } else {
            gallery.gotoIndex(0);
          }
        }

        // Initialize history plugin.
        // The callback is called at once by present location.hash. 
        $.historyInit(pageload, "advanced.html");

        // set onlick event for buttons using the jQuery 1.3 live method
        $("a[rel='history']").live('click', function(e) {
          if (e.button != 0) return true;

          var hash = this.href;
          hash = hash.replace(/^.*#/, '');

          // moves to a new page. 
          // pageload is called at once. 
          // hash don't contain "#", "?"
          $.historyLoad(hash);

          return false;
        });

        /****************************************************************************************/
      });
    </script>

    <br>
    <br>




    </div> <!-- /container -->

  </body>
</html>
