<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <style>
            section {
              background: #e5e5e5;
            }

            img {
              width: auto;
              height: 100%;
            }
        </style>
        <!-- padding:.2em; font-size:1000%; -->
    </head>
    <body>
    <section style="text-align:center;">
      <img src="../static/images/slides_wide/demo_wide.00.jpg" />
    </section>
    <section style="text-align:center;">
      <img src="../static/images/slides_wide/demo_wide.01.jpg" />
    </section>
    <section style="text-align:center;">
      <img src="../static/images/slides_wide/demo_wide.02.jpg" />
    </section>
    <section style="text-align:center;">
      <img src="../static/images/slides_wide/demo_wide.03.jpg" />
    </section>
    <section style="text-align:center;">
      <img src="../static/images/slides_wide/demo_wide.04.jpg" />
    </section>
    <section style="text-align:center;">
      <img src="../static/images/slides_wide/demo_wide.05.jpg" />
    </section>
    <section style="text-align:center;">
      <img src="../static/images/slides_wide/demo_wide.06.jpg" />
    </section>
    <section style="text-align:center;">
      <img src="../static/images/slides_wide/demo_wide.07.jpg" />
    </section>
    <section style="text-align:center;">
      <img src="../static/images/slides_wide/demo_wide.08.jpg" />
    </section>

    <script src="../static/js/d3.v3.js"></script>
    <script src="../static/js/stack.v1.js"></script>
    <script>

    var mystack = stack()
        .on("activate", activate)
        .on("deactivate", deactivate);

    var section = d3.selectAll("section"),
        follow = d3.select("#follow"),
        followAnchor = d3.select("#follow-anchor"),
        lorenz = d3.select("#lorenz"),
        followIndex = section[0].indexOf(follow.node()),
        lorenzIndex = section[0].indexOf(lorenz.node());

    function refollow() {
      followAnchor.style("top", (followIndex + (1 - mystack.scrollRatio()) / 2 - d3.event.offset) * 100 + "%");
    }

    function activate(d, i) {
      if (i === followIndex) mystack.on("scroll.follow", refollow);
      if (i === lorenzIndex) startLorenz();
    }

    function deactivate(d, i) {
      if (i === followIndex) mystack.on("scroll.follow", null);
      if (i === lorenzIndex) stopLorenz();
    }

        </script>
    </body>
</html>